h2 {
    font-family:Verdana, Geneva, sans-serif;
}

form {
    display: inline-block;
}

#button {
    display: inline-block;
    height:22px;
    width:40px;
    background-color:#ffffff;
    font-family:"Lucida Console", Monaco, monospace;
    font-weight:bold;
    color:#000000;
    border: 1px solid black;
    border-radius: 0px;
    text-align:center;
    padding: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#button > hover,
#button > focus {
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  cursor: not-allowed;
}

.list {
    font-family:Verdana, Geneva, sans-serif;
    color:#3b319e;
    text-align: left;
}

.container {
    border: 1px solid black;
    width: 400px;
}
