h2 {
    font-family:Verdana, Geneva, sans-serif;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
    width:40px;
    background-color:#cc0000;
    font-family:"Lucida Console", Monaco, monospace;
    font-weight:bold;
    color:#eea2ad;
    border-radius: 0px;
    text-align:center;
    margin: 2px;
}

.list {
    font-family:Verdana, Geneva, sans-serif;
    color:#3b319e;
}
